.grayColor {
  background-color: gray;
}
.lightBlueColor {
  background-color: lightblue;
}

.citySpan {
  margin: 0px 20px 0px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.tempSpan,
.dateSpan,
.humiditySpan,
.windSpeedSpan,
.uvIndexSpan {
  margin: 0px 20px 0px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
