.grayColor {
  background-color: gray;
}
.lightBlueColor {
  background-color: lightblue;
}

.citySpan,
.tempSpan,
.humiditySpan,
.windSpeedSpan {
  margin: 0px 20px 0px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
