body {
    background-image: url("../Images/blue tile.png");
    background-repeat: repeat;
}

h1, main {
    color: white;
    background-color: black;
    text-align: center;
    line-height: 150%;
    font-family: 'Turret Road', cursive;
    border: double white;
    border-radius: 5px;
}

main {
    font-size: 20px;
}

#password {
    font-family: 'Times New Roman', Times, serif;
}

button {
    color: white;
    background-color: black;
    text-align: center;
    line-height: 150%;
    font-family: 'Turret Road', cursive;
}